Repository Imagineer69/HTML-projeccts, pull requests merged in 2022-10, with the labels that each got.

#2 signup form.html
  pro_level.html
Labels: hacktoberfest

#3 signup.html
  signup.html
Labels: hacktoberfest, hacktoberfest-accepted

#4 login.html
  login.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#5 igclone.html
  igclone.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#7 OnlineBanking.html
  onlineBanking.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#8 SurveyForm.html
  SurveyForm.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#9 developer website.html
  developer website.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#11 Create Wikipedia.html
  Wikipedia.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#13 Create List.html
  List.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#12 Create project.html
  project.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#14 Create GoogleClone.html
  GoogleClone.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#15 Create Intro.html
  Intro.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#16 Create news.html
  news.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#21 Create ClassForm.html
  ClassForm.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#20 Create Tables.html
  Tables.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#19 Create FruitList.html
  FruitList.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#17 Create Sign-upForm.html
  Sign-upForm.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#25 Create iFrame.html
  iFrame.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#24 Create InputAtrribute.html
  InputAtrribute.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#23 Create TestFormat.html
  TestFormat.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#22 Create sematic.html
  sematic.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#27 Tribute to Dr. APJ Abdul Kalam
  Form
  Tribute Page
Labels: hacktoberfest, html, hacktoberfest-accepted

#26 Added Animated Carousel using HTML & CSS
  HTML-Carousel/Carousel.html
  HTML-Carousel/style.css
Labels: hacktoberfest, html, hacktoberfest-accepted

#29 Create LandingPage.html
  LandingPage.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#28 Create TributePage.html
  TributePage.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#30 Create SurveyForm2.html
  SurveyForm2.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#31 Create LoginTheme.html
  LoginTheme.html
Labels: hacktoberfest, html, hacktoberfest-accepted

#32 Create new.html
  new.html
Labels: invalid, spam

#39 Create palindrome.cpp
  palindrome.cpp
Labels: hacktoberfest, html, hacktoberfest-accepted

#38 Create fibonacci.cpp
  fibonacci.cpp
Labels: hacktoberfest, html, hacktoberfest-accepted

#37 Create binary.cpp
  binary.cpp
Labels: hacktoberfest, html, hacktoberfest-accepted

#36 Create linear.cpp
  linear.cpp
Labels: hacktoberfest, html, hacktoberfest-accepted

#40 Add files via upload
  rock paper scissors/rps.css
  rock paper scissors/rps.html
  rock paper scissors/rps.js
Labels: hacktoberfest, html, hacktoberfest-accepted
